<div class="container" >
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Database</a></li>
            <li><a href="/">Jobs</a></li>
            <li><a href="/">Predictions</a></li>
            <li><a href="/">Scores</a></li>
            <li>
                <input type="search" placeholder="Search" name="text"  id="search-bar"/>
            </li>
        </ul>
    </nav>
    <div class="team-image">
        <img src="../../assets/image/TeamImg.png" alt="" >  
        <div class="club-details">
            <p class="club-name">Manchester United</p>
            <p class="sport-type">Football</p>
            <p class="c">European League</p>
        </div>
    </div>
    
    </div>
    
    <div class="content-container container">
    <div class="top-content">
        <ul class="top-ul">
            <li><a href="/">Players</a></li>
            <li><a href="/">Videos</a></li>
            <li><a href="/">News</a></li>
            <li><a href="/">Timeline</a></li>
            <li><a href="/">followers</a></li>
            <li><a href="/">More...</a></li>
        </ul>
    </div>
    <div class="bottom-content">
    
        <div class="left-content">
           
            <div class="profile">
                <div class="flex profile-head">
                    <p>Profile</p>
                    <p>icon box</p>
                </div>
                <div class="flex">
                <p class="rating">Rating</p>
                <p  class="rate">5</p>
                </div>
                <div class="flex">
                    <p class="country">country</p>
                    <p>UK</p>
                </div>
                <div class="flex">
                    <p>Founded</p>
                    <p>1878</p>
                </div>
                <div class="flex">
                    <p>view</p>
                    <p>17689</p>
                </div>
                <div class="league"><p>Premier League</p></div>
                <div class="fixtures"><p>Fixtures</p></div>
            </div> 
    
            <div class="social-link">
                <div class="flex ">
                    <p>Social Media</p>
                    <p>icon box</p>
                </div> 
            </div>
    
            <div class="next-match">
                <h2 class="next-match-title">Next Match</h2>
                <div class="fixture-box">
                    <img src="../../assets/image/man-image.png" alt="" class="next-match-team">
                    <h2 class="vs">VS</h2>
                    <img src="../../assets/image/Arsenalimg.png" alt=""  class="next-match-team">
                </div>
            </div>
    
    
        </div>
        <div class="right-content">
            <div class="team-player">
                <p class="top-team-player">Top Team Player</p>
                <div class="players-list">
                   <div class="player-contianer">
                     <div class="item">
                        <img src="../../assets/image/man-image.png" alt="">
                     </div>
                     <div class="item">
                        <img src="../../assets/image/man-image.png" alt="">
                     </div>
                     <div class="item">
                        <img src="../../assets/image/man-image.png" alt="">
                     </div>
                     <div class="item">
                        <img src="../../assets/image/man-image.png" alt="">
                     </div>
                   </div>
                </div>
            </div>


            <div class="cup-box">
                <p class="year">2020-2021</p>
                <div class="competion-table">
                    <div class="trophies">
                        <img src="../../assets/image/premiership.png" alt="">
                        <p class="number-of-times-won">5</p>
                        <p class="competition-title">Premier League</p>
                    </div>
                    <div class="trophies">
                        <img src="../../assets/image/premiership.png" alt="">
                        <p class="number-of-times-won">5</p>
                        <p class="competition-title">Premier League</p>
                    </div>
                    <div class="trophies">
                        <img src="../../assets/image/premiership.png" alt="">
                        <p class="number-of-times-won">5</p>
                        <p class="competition-title">Premier League</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>